html{
  font-size:22px;
}

body{
  height:100vh;
  display:flex;
  justify-content:space-center;
  /*改成center會變成不間隔的*/
  align-items:center;
  font-family: Helvetica,Arial;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(161,255,255,1) 11.3%, rgba(6,255,255,1) 41.2%, rgba(0,216,216,1) 77.8% );
}

.card-container{
  width:300px;
  height:400px;
  position:relative; 
  perspective:1000px;
}
.cover,.back{
  width:100%;
  height:100%;
  position:absolute;
  backface-visibility:hidden;
  transition:transform .25s ease-in-out;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size: 2rem;
  border-radius:.4rem;
  box-shadow:0.2rem .5rem rgba(0,0,0,.18);
  text-shadow:0.15rem .2rem rgba(0,0,0,.2);
}
.cover{
  background-color:blue;
  transform:rotatey(0deg);
  background-image: linear-gradient( 109.6deg,  rgba(62,161,219,1) 11.2%, rgba(93,52,236,1) 100.2% );
  color:#fff;
}
.card-container:hover .cover{
  transform:rotatey(180deg);
}
.back{
  background-color:yellow;
  transform:rotatey(-180deg);
  background-image: radial-gradient( circle 597px at 93% 9.8%,  rgba(255,61,89,1) 1.7%, rgba(252,251,44,1) 97% );
}
.card-container:hover .back{
  transform:rotatey(0deg);
}
